*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;/*ajusta al 100 de la altura de la pantalla*/
    background-color: rgb(26, 34, 32);    
}

.Reloj{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/fondo_Reloj.png");
    background-size: cover;
    border: 1rem solid rgb(27, 206, 226);
    border-radius: 50vh;/*Forma circular*/
    box-shadow: inset 0px 0px 20px 5px;/*3.difuminado la sombra, 4.sombra de forma pareja en todo el contenedor*/
}

.Reloj::before{
    content: '';
    position:absolute;
    width: 20px;
    height: 20px;
    background: rgb(27, 206, 226);
    border-radius: 50vh;/*Forma circular*/
    z-index: 100;
}

.hora{
    width: 150px;
    height: 150px;
}

.minuto{
    width: 190px;
    height: 190px;
}

.segundo{
    width: 250px;
    height: 250px;
}

.hora::before{
    content: '';
    position:absolute;
    width: 8px;
    height: 90px;
    background: blueviolet;
    z-index: 10;
    border-radius: 50vh;
}

.minuto::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 130px;
    background: rgb(27, 206, 226);
    z-index: 11;
    border-radius: 50vh;
}

.segundo::before{
    content: '';
    position: absolute;
    width: 1.8px;
    height: 150px;
    background: cornflowerblue;
    z-index: 12;
    border-radius: 50vh;
}

.hora, .minuto, .segundo{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50vh;
}